<div class="container">
    <h2>Jonctions</h2>
    <div class="grid-input-value">
        <label class="centered" for="junction-point">Point de jonction</label>
        <input class="centered" name="junction-point" type=checkbox [value]="hasJunctionPoint" [(ngModel)]="hasJunctionPoint">
        <div class="centered">
            <label for="width" style="display: none;">Taille</label>
            <input type=range [min]="getMinValue()" [max]="getMaxValue()" [value]="diameter" [(ngModel)]="diameter">
        </div>
        <p class="centered"> {{ diameter }} px </p>
    </div>
    <div class="grid-confirmation" *ngIf="needConfirmation()">
        <button class="confirmation-button cancel" (click)="revert()">Annuler</button>
        <button class="confirmation-button confirm" (click)="assign()">Confirmer</button>
    </div>
</div>