<div class="container container-flex">
    <p style="color:white">Panneau d'attributs</p>

    <div class="wrapper">
        <div>
            <label for="name" style="color:white">Size</label>
            <br>
            <input value="1" [(ngModel)]="size">
        </div>

        <div>
            <label for="name" style="color:white">Color</label>
            <br>
            <input value="#000000" [(ngModel)]="color">
        </div>

        <div>
            <label for="name" style="color:white">Texture</label>
            <br>
            <select (change)="change($event.target.value)">
                <option *ngFor="let texture of enumKeys"
                [value]="texture">{{textures[texture]}}</option>
          </select>
        </div>
     


    </div>

</div>