<div class="container container-flex">
    <div class="title">
        <img [src]="currentTool.iconDirectory" [alt]="currentTool.name" />
        <h1>{{ capitalizeFirstLetter(currentTool.name) }}</h1>
    </div>

    <app-attributes-width class="section" *ngIf="needsWidthAttribute()"> </app-attributes-width>
    <app-attributes-junction class="section" *ngIf="needsJunctionAttribute()"> </app-attributes-junction>
    <app-attributes-texture class="section" *ngIf="needsTextureAttribute()"></app-attributes-texture>
    <app-attributes-tracing class="section" *ngIf="needsTracingAttribute()"></app-attributes-tracing>

    <app-attributes-color class="section"></app-attributes-color>
</div>
