<div class="container">
    <h1 class="title">Choisir un Dessin</h1>

    <div id="carouselExampleControls" class="grid-carousel" data-ride="carousel">
        <div class="area-back-button area-button">
            <button (click)="getPrev(slides, i)">Précédent</button>
        </div>

        <div class="drawing-form grid-drawing-form" *ngFor="let drawing of getCurrentImages()">
            <img [src]="getDrawingImage(drawing)" alt="slide" />
            <p>A {{ drawing.name}}</p>
            <p>B {{ drawing.tags}}</p>
        </div>
        <div class="area-front-button area-button">
            <button (click)="getNext(slides, i)">Suivant</button>
        </div>
    </div>

    <div>
        <mat-form-field class="tags">
            <mat-chip-list #chipList aria-label="tag selection">
                <mat-label>Filtrage par Étiquettes</mat-label>
                <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                    {{ tag.tagName }}
                    <mat-icon matChipRemove>x</mat-icon>
                </mat-chip>
                <input
                    placeholder="Ex:étiquette"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)"
                />
            </mat-chip-list>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button>Effacer</button>
    </div>
</div>
