<div class="container">
    <h2>Épaisseur</h2>
    <div class="grid-input-value">
        <div class="centered">
            <label for="width" style="display: none;">Taille</label>
            <input type=range [min]="getMinValue()" [max]="getMaxValue()" [value]="width" [(ngModel)]="width">
        </div>
        <p class="centered"> {{ width }} px </p>
    </div>
    <div class="grid-confirmation" *ngIf="width !== getActiveWidth()">
        <button class="confirmation-button cancel" (click)="revert()">Annuler</button>
        <button class="confirmation-button confirm" (click)="assign()">Confirmer</button>
    </div>
</div>