<mat-tab-group>
    <mat-tab label="Divers">
        <ol>
            <li>Créer ou continuer un dessin</li>

            Vous êtes directement amené à une zone de travail contenant une zone de dessin vide.
            <br />

            <img style="width: 50%; height: 50%" src="assets/images/guide/creer-dessin.gif" />
            <br />

            <li>Carrousel de dessins</li>

            Le carrousel de dessin permet de visualiser l’ensemble des dessins que vous créez.
            <br />
            Vous pouvez sélectionner les dessins pour reprendre un travail en cours et vous pouvez également effacer un dessin pour annuler un travail
            que vous ne souhaitez pas conserver. Il est également possible de filtrer les dessins en fonctions des étiquettes qui leur sont associées.

            <br />

            <img style="width: 50%; height: 50%" src="" />
            <br />
        </ol>
    </mat-tab>

    <mat-tab label="Dessiner">
        <ol>
            <li>Curseur</li>
            Le curseur permet de redimensionner la zone de dessin, grâce au trois points de redimensionnement apparaissant sur le dessin lorsque l'on
            clique dessus. Ensuite, il suffit de selectionner un point et de le déplacer pour que le redimensionnement s'effectue.
            <br />
            <img style="width: 50%; height: 50%" src="assets/images/guide/cursor.gif" />
            <br />
            <li>Crayon</li>
            Le crayon permet de dessiner sur la zone de dessin en enfonçant le bouton droit de la souris et en faisant des traits. Lorsque cet outil
            est selectionné il est possible de choisir une épaisseur ainsi qu'une couleur dans le panneau d'attributs.
            <br />
            <img style="width: 50%; height: 50%" src="assets/images/guide/crayon.gif" />
            <br />
            <li>Pinceau</li>
            Le pinceau permet de dessiner sur la zone de dessin en enfonçant le bouton droit de la souris et en faisant des traits. Lorsque cet outil
            est selectionné il est possible de choisir une épaisseur, une couleur ainsi qu'une texture dans le panneau d'attributs.
            <br />
            <img style="width: 50%; height: 50%" src="assets/images/guide/pinceau.gif" />
            <br />
            <li>Efface</li>
            L'efface permet d'effacer des traits présents sur la zone de dessin en enfonçant le bouton droit de la souris et déplacant l'outil.
            Lorsque cet outil est selectionné il est possible de choisir une épaisseur dans le panneau d'attributs.
            <br />
            <img style="width: 50%; height: 50%" src="assets/images/guide/efface.gif" />
            <br />
            <li>Rectangle</li>
            Le rectangle permet de dessiner des rectangles sur la zone de dessin en enfonçant le bouton droit de la souris et déplaĉant l'outil pour
            obtenir les dimensions souhaitées. Avec la touche SHIFT enfoncé, il devient possible de tracer un carré. Lorsque cet outil est selectionné
            il est possible de choisir une épaisseur, le type de tracage ainsi que des couleurs dans le panneau d'attributs.
            <br />
            <img style="width: 50%; height: 50%" src="assets/images/guide/rectangle.gif" />
            <br />
            <li>Ellipse</li>
            L'ellipse permet de dessiner des ellipse sur la zone de dessin en enfonçant le bouton droit de la souris et déplaĉant l'outil pour obtenir
            les dimensions souhaitées. Avec la touche SHIFT enfoncé, il devient possible de tracer cercle. Lorsque cet outil est selectionné il est
            possible de choisir une épaisseur, le type de tracage, ainsi que des couleurs dans le panneau d'attributs.
            <br />
            <img style="width: 50%; height: 50%" src="assets/images/guide/ellipse.gif" />
            <br />
            <li>Ligne</li>
            La ligne permet de dessiner des segments de ligne sur la zone de dessin en enfonçant le bouton droit de la souris et déplaĉant l'outil
            pour obtenir les points de jonction souhaitées. Il faut faire un double-clic lorsque nous avons fini. Lorsque cet outil est selectionné il
            est possible de choisir une épaisseur, le type de tracage, ainsi que des couleurs dans le panneau d'attributs.
            <br />
            <img style="width: 50%; height: 50%" src="assets/images/guide/ligne.gif" />
            <br />
            <li>Palette de couleur</li>
            La palette de couleur permet de selectionner une couleur primaire et secondaire ou d'interchanger les deux. L'outil présente aussi
            l'historique des dix dernières couleurs utilisées.
            <br />
            <img style="width: 50%; height: 50%" src="assets/images/guide/palette.gif" />
            <br />
            <li>Sceau de peinture</li>
            Le sceau de peinture permet de colorier tous les pixels voisins de même couleur en faisant un clic gauche sur un pixel du canvas. En
            faisant un clic droit, tous les pixels de même couleurs seront coloriés.
            <br />
            <img style="width: 50%; height: 50%" src="" />
            <br />
            <li>Sélection</li>
            L’outil de sélection permet la sélection et le déplacement d’une partie du dessin. En effet, il est possible de prendre en sélection une
            partie du dessin et de déplacer cette partie comme on le veut. On peut prendre un sélection de forme rectangulaire ou elliptique. Pour la
            déplacer, il ne sufit que de cliquer n’importe où dans le rectangle de sélection et de déplacer la souris.
            <br />
            <img style="width: 50%; height: 50%" src="" />
            <br />
            <li>Pipette</li>
            L’outil pipette permet de modifier les couleurs primaire et secondaire en faisant le prélèvement directement à avec le curseur sur un
            pixel du dessin
            <br />
            <img style="width: 50%; height: 50%" src="" />
            <br />
            <li>Polygone</li>
            L’outil polygone permet en effectuant un glisser-déposer de créer un polygone dans un périmètre circulaire. Il est possible de choisir le
            nombre de côté (de 3 à 12) , Le type de tracé et l’épaisseur du trait. Le déplacement de la souris permet de modifier la taille du
            polygone et lorsque la souris est relâchée le polygone est officiellement affiché.
            <br />
            <img style="width: 50%; height: 50%" src="" />
            <br />
            <li>Annuler-Refaire</li>
            L’option d’annuler permet d'annuler les dernières action qui ont été exécutées depuis le début du travail. L’option de refaire permet de
            réexécuter les action annulées.
            <br />
            <img style="width: 50%; height: 50%" src="" />
            <br />
        </ol>
    </mat-tab>
</mat-tab-group>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Fermer guide</button>
</div>
