<div id="canvas-container">
    <canvas id="edit" #editCanvas width="100" height="100" oncontextmenu="return false;"></canvas>
    <canvas
        id="canvas"
        #baseCanvas
        [attr.width]="width"
        [attr.height]="height"
        style="border: 3px solid #000000"
        oncontextmenu="return false;"
    ></canvas>
    <canvas
        id="previewLayer"
        #previewCanvas
        [attr.width]="width"
        [attr.height]="height"
        style="border: 3px dotted #000000"
        oncontextmenu="return false;"
    ></canvas>
    <canvas
        id="gridCanvas"
        #gridCanvas
        [attr.width]="width"
        [attr.height]="height"
        style="border: 3px dotted #000000"
        oncontextmenu="return false;"
    ></canvas>
</div>
