<h1 mat-dialog-title>Créer un nouveau dessin</h1>
<mat-dialog-content>
    <p>Dimensions du dessin</p>
    <p>
        <mat-form-field appearance="outline" hintLabel="Hauteur de l'image">
            <input matInput type="number" min="250" />
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline" hintLabel="Largeur de l'image">
            <input matInput type="number" min="250" />
        </mat-form-field>
    </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button (click)="navigateToEditor()">Ok</button>
</mat-dialog-actions>
