<div class="container">
    <h1 class="title">PolyDessin</h1>
    <button class="button1" (click)="openUserGuide()">Créer un nouveau dessin</button>
    <button class="button2">Ouvrir le carrousel de dessins</button>
    <button class="button3">Afficher le Guide d'utilisation</button>
    <button class="button4">Continuer un dessin</button>

    <div class="footer-item">
        <p>© 2020 Polytecnhique de Montréal, Coequipier #1, Coequipier #2, Coequipier #3, Coequipier #4, Coequipier #5,Coequipier #6</p>
    </div>
</div>
