.container {
    height: auto;
    display: grid;
}

.container-grid {
    display: grid;
    grid-template-columns: var(--sidebar-width) var(--attributes-panel-width) 1fr;
    grid-template-areas: "sidebar panel workspace";
    grid-gap: 0px;
}

.grid-area-sidebar {
    grid-area: sidebar;
}

.grid-area-panel {
    grid-area: panel;
}

.grid-area-workspace {
    grid-area: workspace;
}

.sidebar-fixed-offset {
    position: fixed;
    left: 0;
}

.workspace-fixed-offset {
    position: fixed;
    left: var(--sidebar-width);
}