<mat-tab-group>
    <mat-tab label="Divers">
        <ol>
            <li>Créer ou continuer un dessin</li>
            À partir de la page d'acceuil de l'application, vous verrez un bouton pour créer un nouveau dessin.
            <br />
            <img style="width: 50%; height: 50%" src="assets/images/guide/creer-nouveau-dessin.PNG" />
            <br />
            Lorsque vous cliquez sur ce bouton vous êtes directement amené à une zone de travail contenant une zone de dessin vide.
        </ol>
    </mat-tab>

    <mat-tab label="Dessiner"> Outils, Manipulations de sélection, Palette de couleur, Annuler-refaire et Grille et magnetisme. </mat-tab>
</mat-tab-group>
