<div class="container">
    <p>Outils!</p>
    <div class="toolsbox">
        <div class="commands"></div>
        <div class="shapes">
            <div class="shape" data-tool="rectangle" title="rectangle">
                <img src="assets/images/rectangle_icon.png" />
            </div>
            <div class="shape" data-tool="ellipse" title="ellipse">
                <img src="assets/images/ellipse_icon.png" />
            </div>
            <div class="shape" data-tool="line" title="line">
                <img src="assets/images/line_icon.png" />
            </div>
        </div>
        <div class="tools">
            <div class="item" data-tool="pencil" title="pencil">
                <img src="assets/images/pencil_icon.png" />
            </div>
            <div class="item" data-tool="brush" title="brush">
                <img src="assets/images/brush_icon.png" />
            </div>
            <div class="item" data-tool="erase" title="erase">
                <img src="assets/images/erase_icon.png" />
            </div>
        </div>
        <div class="linewidths">
            <div class="line" data-command="1" title="1 pixels"></div>
            <div class="line" data-command="2" title="2 pixels"></div>
            <div class="line" data-command="3" title="3 pixels"></div>
            <div class="line" data-command="4" title="4 pixels"></div>
        </div>
    </div>
</div>
