.container {
    height: auto;
    min-height: 98vh;
    border: 1px solid black;
    padding: 0 5px 0 5px;
    margin-right: 5px;
    cursor: pointer;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
}

.item,
.item img {
    width: 35px;
    height: 35px;
}
