<div class="container container-flex">
    <button *ngFor="let tool of getListOfTools()" (click)="setCurrentTool(tool)" class="has-tooltip" [class.active]="tool === getCurrentTool()">
        <img [src]="tool.iconDirectory" [alt]="tool.name" />
        <app-tooltip [text]="formatTooltipMessage(tool)" class="tooltip"></app-tooltip>
    </button>

    <button (click)="openSaveDialog()" class="to-bottom has-tooltip">
        <img src="assets/images/save_icon.png" />
        <app-tooltip [text]="messageSaveDialog" class="tooltip"></app-tooltip>
    </button>
    <button (click)="resetDrawing()" class="to-bottom has-tooltip">
        <img src="assets/images/document_icon.png" />
        <app-tooltip [text]="messageNewDrawing" class="tooltip"></app-tooltip>
    </button>
    <button (click)="openGuide()" class="has-tooltip">
        <img src="assets/images/question_mark.png" />
        <app-tooltip [text]="messageUserGuide" class="tooltip"></app-tooltip>
    </button>
    <button (click)="navigateToMain()" class="home-button has-tooltip">
        <img home-image src="assets/images/home_icon.png" />
        <app-tooltip [text]="messageBack" class="tooltip"></app-tooltip>
    </button>
</div>
