<div class="container container-flex">
    <button *ngFor="let tool of getListOfTools()" (click)="setCurrentTool(tool)" class="has-tooltip" [class.active]="tool === getCurrentTool()">
        <img [src]="tool.iconDirectory" [alt]="tool.name" />
        <app-tooltip [text]="formatTooltipMessage(tool)" class="tooltip"></app-tooltip>
    </button>

    <button (click)="resetDrawing()"><img src="assets/images/document_icon.png" /></button>
    <button (click)="openGuide()"><img src="assets/images/question_mark.png" /></button>
    <button class="home-button" (click)="navigateToMain()"><img home-image src="assets/images/home_icon.png" /></button>
</div>
