.container {
    box-sizing: border-box;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: rgb(66, 63, 89);
    border-right: 1px solid rgb(33, 33, 59);
    overflow: visible;
}

.container-flex {
    display: flex;
    flex-direction: column;
}

img {
    height: 80%;
    width: 80%;
    margin: auto;
}

button {
    cursor: pointer;
    position: relative;
    height: var(--sidebar-width);
    width: var(--sidebar-width);
    background-color: inherit;
    border-style: none;
    border-right: inherit;
    border-bottom: 1px solid rgb(53, 53, 79);
    color: white;
    outline: none;

    display: flex;
    justify-content: center;
    align-content: center;
}

button:hover {
    box-sizing: border-box;
    border-right: inherit;
    background-color: rgb(96, 93, 119);
}

button.active {
    background-color: rgb(227, 205, 61);
}

.tooltip {
    visibility: hidden;
}

.to-bottom {
    margin-top: auto;
}

.has-tooltip:hover .tooltip {
    visibility: visible;
}
