.container {
    height: auto;
    min-height: 98vh;
    border: 1px solid black;
    padding: 0 5px 0 5px;
    margin-right: 6px;
    cursor: pointer;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
}

.shape,
.shape img,
.item,
.item img {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.shape:hover,
.item:hover {
    background-color: #4b616161;
}
